fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
werkzeug
PyMuPDF
python-docx
reportlab
pydub
openai
langchain
langchain-core
langchain-community
langchain-google-genai
rank_bm25
tavily-python
pypdf
faiss-cpu
